h1 {
  color: rgb(65, 75, 86);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

div{
  min-height: 100vh;
  width: 100vw;
}

h1, h2 {
  text-align: center;
}
h1 {
  font-size: 5em;
}

img {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  border-radius: 130px;
}

img {
  ...
}
p {
  width: 40%;
  margin: 10vh 10vw;
  font-size: 2em;
}

li{
  color: red;
  transition: 0.6s ease;
}

a {
  color: rgb(0,0,0);
}

a:hover {
  color: pink;
}

ol {
  list-style: none;
}

body {background-color: rgb(255,182,193);
}
