
@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
  margin: 0;
  padding: 0;
}


html, body {
  height: 100%;
  background-image: url('bluebg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-family: 'Quicksand', sans-serif;
  background-attachment: fixed;
  background-position: center;
}

.navbar {
  z-index: 999;
}

.navbar-light {
  background: transparent;
}

.navbar-brand {
  margin-left: 20px;
  padding: 10px 20px 20px;
  font-size: 1.5rem;
}

.nav-item {
  padding: 10px 20px 20px;
}


#content0 {
  position: relative;
  text-align: center;
}

h1 {
  font-size: 4em;
}

h1, form {
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}


label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

#submitbutton {
  display: flex;
  flex-direction: row-reverse;
}

input[type=submit] {
  background-color: rgb(228, 177, 110);
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  width: 30%;
}

input[type=submit]:hover {
  background-color: blanchedalmond;
  transition: ease-in .1s;
}


.container {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.48);
  padding: 50px;
  width: 68%;
  margin: 0 auto;
  margin-bottom: 100px;
}


.col-25 {
  float: right;
  width: 25%;
  margin-top: 10px;
}


.col-75 {
  float: left;
  width: 75%;
  margin-top: 10px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 680px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 10px;
  }
}