
@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
  margin: 0;
  padding: 0;
}


html, body {
  height: 100%;
  background-image: url('whitebg.jpg');
  color: black;
  font-family: 'Quicksand', sans-serif;
}

.navbar {
  position: absolute;
  z-index: 999;
}

.navbar-light {
  background: transparent;
}

.navbar-brand {
  margin-left: 20px;
  padding: 10px 20px 20px;
  font-size: 1.5rem;
}

.nav-item {
  padding: 10px 20px 20px;
}

#page {
  position: relative;
  height: 100%;
}


#intro {
  background-image: url('coffee.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100%;
}


#contents {
  position: absolute;
  margin-top: 15%;
  margin-left: 13%;
}

#contents svg {
  width: 120%;
  margin-top: 10%;
  margin-bottom: 10%;
}

#coffee, #subtext {
  stroke-dasharray: 220;
  stroke-dashoffset: 0;
  -webkit-animation: dash 3s linear forwards;
  -o-animation: dash 3s linear forwards;
  -moz-animation: dash 3s linear forwards;
  animation: dash 3s linear forwards;
  fill-opacity: 0;
}


@-webkit-keyframes dash {
  0% {
      stroke-dashoffset: 220;
  }

  85% {
      stroke-dashoffset: 0;
      fill-opacity: 0;
  }
  100% {
      stroke-dashoffset: 0;
      fill-opacity: 1;
  }
}


@-moz-keyframes dash {
  0% {
      stroke-dashoffset: 220;
  }
  85% {
      stroke-dashoffset:0;
      fill-opacity: 0;
  }
  100% {
      stroke-dashoffset: 0;
      fill-opacity: 1;
  }
}


h1 {
  font-size: 5rem;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
}

h3 {
  font-size: 3em;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.column h2 {
  font-size: 2em;
  padding-top: 5%;
  padding-right: 14%;
}


.title {
  width: 100%;
  text-align: center;
  margin-top: 7%;
}


.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 25%;
}


#coffeecups {
  position: relative;
  width: 80%;
  margin: 0 auto;
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  text-align: center;
}


.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}


.column img {
  margin-top: 70px;
  padding: 10px 20px;
  vertical-align: middle;
  transition: transform .2s;
}


.column img:hover {
  transform: scale(1.1);
}


@media (max-width: 1000px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}


@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}


.fa {
  padding: 15px;
  font-size: 20px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%
}


.fa:hover {
  opacity: 0.7;
}




.fa-facebook {
  color: black;
}


.fa-twitter {
  color: black;
}


.fa-instagram {
  color: black;
}
