@import url('https://fonts.googleapis.com/css?family=Quicksand');


* {
  margin: 0;
  padding: 0;
}


html, body {
  height: 100%;
  background-image: url('pinkbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: black;
  font-family: 'Quicksand', sans-serif;
}


.navbar {
  position: relative; 
  z-index: 999;
}


.navbar-light {
  background: transparent;
}


.navbar-brand {
  margin-left: 20px;
  padding: 10px 20px 20px;
  font-size: 1.5rem;
}


.nav-item {
  padding: 10px 20px 20px;
}


#container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


h1 {
  font-size: 4em;
}


h3 {
  font-size: 2em;
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}


.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}


.column img {
  margin-top: 70px;
  padding: 10px 20px;
  vertical-align: middle;
  border-radius: 50%;
}


@media (max-width: 1000px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}


@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}