@import url('https://fonts.googleapis.com/css?family=Quicksand');


* {
  margin: 0;
  padding: 0;
}


html, body {
  height: 100%;
}


.page {
  height: 100%;
  background-color: #54494B;
  color: #FFCDB2;
  font-family: 'Quicksand', sans-serif;
}


.content {
  height: 100%;
  transform-origin: top left;
  transition: transform 0.7s cubic-bezier(1, 0.005, 0.24, 1);
  background-color: #FFCDB2;
  color: #54494B;
  font-family: 'Quicksand', sans-serif;
}


.content_inner {
    height: 100%;
    overflow-y: auto;
    padding: 40px 10%;
    text-align: center;
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
}


.menu_toggle {
    z-index: 900;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    cursor: pointer;
    width: 100px;
    height: 80px;
    background-color: #B33951;
    border-bottom-right-radius: 100%;
}


.menu_toggle:active i {
    opacity: 0.8;
}


.menu_toggle i {
    color: #F1F7ED;
}


.menu_toggle .menu_open, .menu_toggle .menu_close {
    position: absolute;
    top: 30%;
    left: 30%;
    margin-top: -15px;
    margin-left: -12px;
    transition: transform 0.7s cubic-bezier(1, 0.005, 0.24, 1);
}


.menu_toggle .menu_open {
    transform-origin: -100px -100px;
}


.menu_toggle .menu_close {
    transform: rotate(20deg);
    transform-origin: -100px -160px;
}


.menu_items {
    position: fixed;
    bottom: 50px;
    left: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.menu_items li {
    height: 60px;
    margin-bottom: 30px;
    transform: translateX(-300px);
    transition: transform 0.7s 0s cubic-bezier(1, 0.005, 0.24, 1);
}


.menu_items li:nth-child(2) {
    margin-left: 40px;
}


.menu_items li:nth-child(3){
    margin-left: 80px;
}


.menu_items a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #F1F7ED;
    transition: color 0.2s;
}


.menu_items a .icon {
    position: relative;
    display: inline-block;
    margin-right: 25px;
    color: #F1F7ED;
}


.menu_items a .icon:after {
    position: absolute;
    top: 55%;
    left: 83%;
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    margin-left: -33px;
    margin-top: -32px;
    border-radius: 100%;
    border: 2px solid #F1F7ED;
    transition: border-color 0.2s;
}


.menu_items a:hover {
    color: #FFFFFF;
}


.menu_items a:hover .icon:after {
    border-color: #B33951;
}


.menu_items a:active .icon {
    color: #FFFFFF;
}


.next .content {
    transform: rotate(-30deg);
}


.next .menu_open {
    transform: rotate(-20deg);
}


.next .menu_close {
    transform: rotate(0);
}


.next .menu_items li {
    transform: translateX(0);
    transition: transform 0.35s 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.next .menu_items li:nth-child(2){
    transition-delay: 0.47s;
}


.next .menu_items li:nth-child(3){
    transition-delay: 0.48s;
}



.fadeInLeft {
  animation-name: fadeInLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-name: fadeInLeft;
  -moz-animation-duration: 1s;
  -moz-animation-fill-mode: both;
  -ms-animation-name: fadeInLeft;
  -ms-animation-duration: 1s;
  -ms-animation-fill-mode: both;
}


@keyframes fadeInLeft {
    from {
        transform: translate3d(-40px, 0,0);
        opacity: 0
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInLeft {
    from {
        transform: translate3d(-40px, 0,0);
        opacity: 0
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}


@-moz-keyframes fadeInLeft {
    from {
        transform: translate3d(-40px, 0,0);
        opacity: 0
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}


@-ms-keyframes fadeInLeft {
    from {
        transform: translate3d(-40px, 0, 0);
        opacity: 0
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}


.fadeInRight {
  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInRight;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-name: fadeInRight;
  -moz-animation-duration: 1s;
  -moz-animation-fill-mode: both;
  -ms-animation-name: fadeInRight;
  -ms-animation-duration: 1s;
  -ms-animation-fill-mode: both;
}


@keyframes fadeInRight {
    from {
        transform: translate3d(40px, 0,0);
        opacity: 0
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInRight {
    from {
        transform: translate3d(40px, 0,0);
        opacity: 0
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}


@-moz-keyframes fadeInRight {
    from {
        transform: translate3d(40px, 0,0);
        opacity: 0
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}


@-ms-keyframes fadeInRight {
    from {
        transform: translate3d(40px, 0, 0);
        opacity: 0
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

h1 {
  font-size: 3em;
}


h3 {
  font-size: 1.5em;
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}


.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}


.column img {
  margin-top: 10%;
  vertical-align: middle;
  border-radius: 50%;
} 


.column img:hover {
  -webkit-box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.8);
  -moz-box-shadow:    0 0 15px 5px rgba(255, 255, 255, 0.8);
  box-shadow:         0 0 15px 5px rgba(255, 255, 255, 0.8);
}


h2 {
  padding: 7% 0;
}


@media (max-width: 1000px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}


@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}


.footer {
  position: relative;
  bottom:20px;
  width: 100%;
  height: 5%;
  display: flex !important;
  align-items: center;
  background-color: transparent;
  text-align: center;
  margin-top: 5%;
}


.fa {
  padding: 15px;
  font-size: 20px;
  width: 15px;
  text-decoration: none;
  border-radius: 50%;
}


.fa-facebook {
  color: #54494B;
}


.fa-twitter {
  color: #54494B;
}


.fa-instagram {
  color: #54494B;
}


.fa-facebook:hover {
  color: #B33951;
}


.fa-twitter:hover {
  color: #B33951;
}


.fa-instagram:hover {
  color: #B33951;
}

